body {
    background-color: #4c2a4f;
    color: #fff3cf;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    text-align: center;
    /*font-size: 28px;*/
    font-family: "Open Sans";
    color: white;
    padding-left: 10px;
}

.navbar {
    margin: 20px;
    padding: 20px;
    border: solid 2px;
    border-radius: 50px;
}

.active {
    background-color: #fff3cf;
    border: solid;
    border-color: #fff3cf;
    color: #4c2a4f;
}

.progress {
    border: solid 1px;
    border-radius: 15px;
    background-color: #4c2a4f;
}

ul.orders {
    list-style-type: none;
    display: inline-flex;
}

ul.orders :first-child {
    text-align: left;
    color: #fff3cf;
}

ul.orders :nth-child(2) {
    text-align: right;
    color: #fff3cf;
}

h1 {
    text-align: center;
    font-family: "Open Sans";
    /*font-size: 35px;*/
}

.sales {
    text-align: center;
    font-family: "Open Sans";
    color: #c36773;
}

.hoodie {
    margin: 50px;
    height: 300px;
    width: 200px;
    border-radius: 0 150px 150px 0;
    border: 20px solid red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 6px;
    border-left: 0;
}

.items li {
    text-align: left;
    margin-bottom: 20px;
}

.items :first-child {
    color: #f06b5f;
}

.items :nth-child(2) {
    color: #ffe201;
}

.items :nth-child(3) {
    color: #1ad5de;
}

.amount li {
    text-align: right;
    margin-bottom: 20px;
    color: #ff867d;
    list-style-type: none;
}

span.glyphicon {
    margin-top: 15px;
}

canvas {
    margin-top: 50px;
}

@media all and (max-width: 1000px) {
    /* screen size until 1000px */
    body {
        font-size: 3.2em;
        /* 1.2x default size */
    }
}

@media all and (max-width: 500px) {
    /* screen size until 500px */
    body {
        font-size: 6.8em;
        /* 0.8x default size */
    }
}